body {
  background-image: url("mat.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  color: white;
  text-align: left;
  font: verdana;
}

h2 {
  color: white;
  text-align: center;
  font: verdana;
}


h3 {
  font-size: large;
  color: white;
  text-align: left;
  font: verdana;
}



p.two {
  margin-top: 80px;
  /* border: 1px solid gold;
  border-radius: 8px; */
  padding: 30px;
  color: white;
  text-align: center;
  font: verdana;
}

p.one{

padding: 30px;
  font-size: 40px;
  color: rgba(255, 0, 0, 0.466);
  text-align: center;
  font: verdana;
}

p.three{

    /* padding: 30px; */
    font-size: 25px;
    color: white;
    text-align: left;
    font: verdana;
  }

  p.four{

      /* padding: 30px; */
      font-size: 80px;
      color: white;
      text-align: left;
      font: verdana;
    }