body {
  background-color: #000000;
}

h1 {
  color: white;
  text-align: center;
  font: verdana;
}

h2 {
  color: white;
  text-align: center;
  font: verdana;
}


h3 {
  font-size: large;
  color: white;
  text-align: center;
  font: verdana;
}



p {
  margin-top: 80px;
  border: 4px solid gold;
  border-radius: 5px;
  padding: 30px;
  color: white;
  text-align: center;
  font: verdana;
}
